.tire-size {
    max-width: 150;

    background-color: #cad2c5;
    color: #575761;

    margin: 5;
}

.tread-depth {
    max-width: 200;

    background-color: #cad2c5;
    color: #575761;

    margin: 5;
}


body {
    background-color: #575761;
    color: #cad2c5;
}

a:link {
    text-decoration: none;
}

h1 {
    font-size: 100;
}

h4 {
    font-size: 85;
    margin: 0;
}

h3 {
    font-size: 75;
    margin: 0;
    margin-top: 10;
}

.container-fluid {
    background-color: #FFBF46;
    color: #575761;
}

input {
    max-width: 750;
    background-color: #575761;
    color: #cad2c5;

    font-size: 75;
    font-weight: bold;

    border: none;
}

#d1, #d1inch, #d2, #d2inch, #c2, #c1 {
    background-color: #575761;
    color: #cad2c5;

    font-size: 60;
    font-weight: bold;
}

.output {
    text-align: center;
}

#diff {
    min-width: 300;
    font-size: 100;
    font-weight: bold;
    color: #8acb88;
}